.hello {
    color: blue;
    font-size: large;
    font-weight: 400;
    text-shadow: 10px;
    background-color: darkblue;
}
.bye {
    color: red;
    background-color: darkred;
    text-shadow: 100px;
}